/* Reinicio de márgenes y paddings */

/*#2272FF COLOR PRIMARIO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #1D1D1D;
    /* Color fondo*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; /* Negrita para los encabezados */
}

p, a, li, div {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Regular para el texto normal */
}
