/* Reinicio de márgenes y paddings */

/*#2272FF COLOR PRIMARIO*/

/* From https://css.glass */
/* background: rgba(34, 114, 255, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(34, 114, 255, 0.21); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    background-color: #1D1D1D;
    /* Color fondo*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; /* Negrita para los encabezados */
}

p, a, li, div {
    font-family: 'Lato', sans-serif;
    font-weight: 400; /* Regular para el texto normal */
}
section {
    padding: 50px;
}

#proyectos {
    background-color: #1D1D1D;
    width: 100%;
    height: 1000px;
    padding: 50px;
    padding-top: 100px;
    overflow: hidden; /* Ocultar el desbordamiento */
    position: relative; /* Para posicionar los controles del carrusel */
    display: flex;
    background-size: cover; /* Asegurar que la imagen de fondo cubra todo el contenedor */
    background-position: center; /* Centrar la imagen de fondo */
}

.container-proyectos {
    margin-top: 130px;
    padding-top: 20px;
    display: flex;
    flex-direction: column; /* Alinear los proyectos en una columna */
    justify-content: flex-start; /* Alinear los proyectos al principio */
    align-items: center; /* Centrar los proyectos horizontalmente */
    position: absolute;
    left: 0; /* Mover el contenedor del carrusel a la izquierda */
    width: 150px; /* Ancho fijo para el contenedor del carrusel */
    height: 100%; /* Altura completa */
    overflow-y: auto; /* Permitir el desplazamiento vertical */
}

.proyecto {
    width: 50px; /* Ancho fijo para cada proyecto */
    height: 50px; /* Altura fija para cada proyecto */ 
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease; 
    margin-bottom: 20px;
    cursor: pointer; 
    background: #2272FF; /* Color azul principal */
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Color del texto */
    font-size: 16px;
    font-weight: bold;
}

.project-info {
    margin-top: 130px;
    padding: 20px;
    color: black;
    background: rgba(34, 114, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(34, 114, 255, 0.21);
    width: 700px;
    height: auto;
    position: absolute;
    left: 200px; /* Ajustar según sea necesario */
    display: flex;
    flex-direction: row; /* Alinear el contenido en una fila */
    gap: 20px; /* Espacio entre los elementos */
    display: none; /* Ocultar por defecto */
}

.project-info .text-content {
    flex: 1;
}

.project-info .media-content {
    flex: 1;
}

.project-info .software-logos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.bottom-navbar {
    width: 75%;
    height: 50px;
    color: #fff;
    text-align: center;
    margin-left: 100px;
    padding: 5px;
    position: center;
    z-index: 1;
}

.bottom-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.bottom-navbar ul li {
    display: inline;
    position: relative;
}

.bottom-navbar ul li .dropbtn {
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    color: antiquewhite;
    border-radius: 12px;
    background-color: #2272FF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    box-shadow: inset 0 0 0 0 #1547a0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.bottom-navbar ul li .dropbtn:hover {
    box-shadow: inset 400px 50px 0 0 #1547a0;
}

.bottom-navbar ul li .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(34, 115, 255, 0.2);
    z-index: 1;
}

.bottom-navbar ul li .dropdown-content p,
.bottom-navbar ul li .dropdown-content a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color: antiquewhite;
    border-radius: 12px;
    background-color: #2272FF;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    box-shadow: inset 0 0 0 0 #1547a0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.bottom-navbar ul li .dropdown-content p:hover,
.bottom-navbar ul li .dropdown-content a:hover {
    box-shadow: inset 400px 50px 0 0 #1547a0;
}

.bottom-navbar ul li:hover .dropdown-content {
    display: block;
}
