<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html" data-i18n="header.title">AMC Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="index.html" data-i18n="header.home">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ar.html" data-i18n="header.projects">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre-mi.html" data-i18n="header.about">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:mc.asieer@gmail.com" data-i18n="header.contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
