.footer {
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  color: var(--color-light);
  padding: 1rem 0;
  font-size: 0.9rem;
  text-align: center;
}
