.footer {
  background-color: #111;
  padding: 1.5rem 0;
  text-align: center;
  color: var(--color-light);
  font-size: .9rem;
}

/* Glass effect footer */
.footer-glass {
  background: rgba(34, 114, 255, 0.41);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border-top: 1px solid rgba(34,114,255,0.21);
  padding: 1rem 0;
}