.navbar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050; /* Asegura que el header esté por encima de otros elementos */
}

.nav-link {
  color: var(--color-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}
