.hero {
  position: absolute;
    left: 5%; /* Ajusta la posición horizontal */
    bottom: 15%; /* Ajusta la posición vertical */
    text-align: left; /* Alinea el texto a la izquierda */
    z-index: 3; /* Asegúrate de que el z-index sea mayor que el del model-viewer */
    color: #ffffff;
}

.hero h1 {
  font-size: 3em; /* Tamaño del nombre */
    font-weight: 700; /* Negrita */
    margin: 0;
    padding: 0;
}
.hero .text-outline {
    font-size: 2.5em; /* Tamaño del apellido */
    font-weight: 400; /* Regular */
    color: transparent; /* Hace el texto transparente */
    -webkit-text-stroke-width: 1px; /* Ancho del borde */
    -webkit-text-stroke-color: #2272FF; /* Color del borde */
    margin: 0;
    padding: 0;
}

.hero.scrolled {
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco perlado semi-transparente */
    transition: background-color 0.5s ease; /* Transición suave */
    opacity: 0; /* Desvanecer el texto */
}

.underline-thick {
  position: relative;
    display: inline-block;
    overflow: hidden; /* Ocultar el contenido desbordado */
}

.underline-thick::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 4px;
    background-color: #1547a0; /* Color de la línea */
    transition: width 1s ease; /* Transición suave para el ancho */
}

.hero.scrolled .underline-thick::after {
    width: 50%; /* Hacer la línea más pequeña */
    left: 0; /* Mover la línea hacia la izquierda */
}

.hero.visible .underline-thick::after {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 4px;
    background-color: #1547a0; /* Color del rectángulo */
    transition: width 1s ease; /* Transición suave para el ancho */
}

.hero.visible .underline-rect {
    width: 120%; /* Hacer el rectángulo visible */
}

.hero.fixed {
  position: fixed; /* Mantener fijo en la parte superior */
  top: 0; /* Posición en la parte superior */
  left: 0; /* Alineado al borde izquierdo */
  width: 100%; /* Ocupa todo el ancho */
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  transition: all 0.3s ease; /* Suavizar el cambio de posición */
}

.hero.initial {
  position: absolute; /* Volver a la posición inicial */
  left: 5%; /* Ajustar según tu diseño */
  bottom: 15%; /* Ajustar según tu diseño */
  z-index: 3; /* Menor prioridad visual */
  background-color: transparent; /* Sin fondo */
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.5rem; /* Reduce el tamaño de la letra para móviles */
  }
  .hero .underline-rect {
    height: 2px; /* Ajusta el tamaño del rectángulo */
  }
}