.Hotspot {
  background: var(--color-primary);
  color: #fff;
  border: 2px solid var(--color-primary);
  /* glass y sombra solo al estar activo */
  border-radius: 16px;
  font-weight: 600;
  transition: background 0.3s, color 0.3s, box-shadow .4s ease;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}

.Hotspot:hover {
  box-shadow: inset 400px 50px 0 0 var(--color-primary);
}

.progress-bar {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 4px;
  background: rgba(255,255,255,.2);
  border-radius: 4px;
  overflow: hidden;
}

.progress-bar.hide {
  display: none;
}

.progress-bar .update-bar {
  height: 100%;
  width: 0;
  background: var(--color-primary);
  transition: width .3s;
}



.Hotspot.active {
  background: var(--glass-bg);
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
}

/* Estilo para el menú en dispositivos móviles */
@media (max-width: 768px) {
  .hotspot-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .hotspot-menu .Hotspot {
    font-size: 12px;
    padding: 5px 10px;
    flex: 1 1 auto;
    max-width: 100px;
  }
}
