.skill-card {
  color: var(--color-light);
  background: var(--glass-bg);
  border: 1px solid var(--glass-border);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--glass-border);
  
}

.card-title {
  margin-bottom: 1rem;
  font-weight: 600;
}

.skill-badge {
  display: inline-block;
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0.25rem;
  padding: 0.4rem 0.75rem;
  
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
}


.badge-tech {
  color: var(--light);
  margin: 0.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  font-weight: 600;
}

.skill-card h5 {

  border-bottom: 5px solid var(--glass-border)
}
